.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}
.gallery{
    display: flex;
    text-align: center;
    justify-content: space-between;
    overflow-x: hidden;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.dark-btn{
    background: #000F38;
    color:#FFF;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor:pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}